:root {
  font-family: 'Montserrat', sans-serif;

  --color-primary: #1d1016;
  --color-secundary: #4f2b38;
  
  --gray-4: #121214;
  --gray-3: #212529;
  --gray-2: #343b41;
  --gray-1: #868e96;
  --gray-0: #f8f9fa;
}